@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
   @*  <div>
        <form>
            <div class="container">
                <h3>Numeros de Telefono</h3>
             <input id="tel" type="file" class="form-control"  /> 

                <input id="urlTel" type="text" class="form-control" />
                <button type="button" onclick="leerArchivoDesdeURLTel()">iniciar</button>



            </div>
          
        </form>
        <br />
    <br />*@
        <form>
            <div class="container">
                <h3>Introducir Cadena</h3>
            <input id="cadenaInput" type="text" class="form-control" />


            <button type="button" onclick="Leer()">iniciar</button>

           
           
        </form> 
    </div>


</div>
<script src="~/js/ReconocedorLexico.js"></script>